body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin:0%;
}
.banner{
  margin:0%;
  background-color: #141D37;
  height: 150px;
  width: 100%;
  display: flex;  
  justify-content: space-between;
  align-items: center;
}
.logo{
  color: #ffb200;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right : 110px ;
}
.logo h1 {
  z-index: 1;
  text-shadow: 5px 5px 5px #141D37;
  -webkit-text-stroke: 1px black;
}
.logo img{
  right: 50px;  
  position: absolute;
  z-index: 0;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px ;

}
.search button{
  background-color:  #ffb200;;
  color:  #141D37;
  height: 55px;
  width: 150px;
  margin: 10px;
  font-size: 30px; 
  border-radius: 5px;

}
.search input {
  text-align: center;
  color: #141D37; 
  font-size: 30px;
  height: 50px;
  width: 600px;

}
.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}
.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 4px solid #141D37; border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: #141D37;
  font-size: 18px;
  color:#fff;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.cart {
  border: 2px solid #141D37;
  margin-top: 6px;
  display: flex;  
  flex-basis: 30%;
  flex-flow: column wrap;
  border-radius: 5px;
}
.cart .cart__title {
  background-color: #141D37;
  color: #ffb200;  
  flex-basis: 1;
  font-size: 25pt;
  text-align: center;
}
.empty__cart{
    text-align: center; 
    font-size: 18pt;
}
.cart .total__price{
  text-align: center; 
  font-size: 20pt;
 }
